$widthXL: 1170px;

$white: #fff;
$black: #313A47;
$light_blue: #F8F9FB;
$light_gold: #FFFBF3;
$hover_gold: #FEF7EA;
$grey: #DEE2E6;
$dark_grey: #9A9696;
$red: #E82F50;

$point_sm: 600px;
$point_md: 900px;
$point_xl: 1100px;
