.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 0 20px;
  width: 100%;

  font-weight: normal;
  font-size: 16px;
  color: $white;
  text-decoration: none;

  box-shadow: 0 4px 4px rgba(216, 179, 152, 0.15);
  border-radius: 4px;
  border: none;
  background: $red;
  outline: 0;

  cursor: pointer;
  transition: all .15s linear;

  &:hover {
    background-color: darken($red, 10%);
    box-shadow: 0 5px 5px rgba(92, 92, 92, 0.2);
  }

  @media (max-width: $point_sm) {
    font-size: 12px;
    padding: 0 5px;
  }

  &--remove {
    background: $dark_grey;

    &:hover {
      background-color: darken($dark_grey, 10%);
    }
  }
}